body,html{
    width:100%;
    height:100%;
    margin: 0;
}

h1{
    text-align: center;
}
.body-wrapper{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-group{
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    width:100%;
    height:50vh;
    background:#232323;
    display: flex;
    color: #fff;
    flex-direction: column;
}

.cocomo-main>input{
    margin: 10px;
    width: 100px;
    height:20px;
    display: block;
}

.coocomo2-main{
    align-content: center;
   
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: block;
}

.detailedBlock{
    display:none;
}

img {
    display: block;
}